<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Group Invitation - {{target_username}}</title>
</head>
<body> 
    <!-- invite-to-group template for email body -->
    <h2>Hello {{target_username}}!</h2>
    <p>You've been invited to {{invitor_username}}'s group: <b>{{group_title}}</b>.</p> 
    <p>You can <a href="{{link}}">join the group here</a>, or ignore this invitation.</p>
    <p>This invitation will expire in 7 days.</p>
    <b>In regards,<br>LearnTogether team.</b>
</body>
</html>